header {
  background-color: #d1e189;
  color: black;
  border-bottom: 2.5px;
}

header h1 {
  color: black;
}

a {
  color: white;
}

P {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

header a {
  color: black;
}

section h2 {
  border-right: 5px solid #d1e189;
}

section {
  background-color: #303030;
  border: 5px solid #d1e189;
  border-bottom: 1.25px;
}

#featured-app {
  color: black;
}

#featuredapp-pic {
  border: 2.5px solid #262626;
}

.card {
  border: 5px inset white;
}

#moody-headshot {
  border: 5px solid white;
  border-radius: 50%;
}

footer {
  background-color: #d1e189;
  border-top: 2.5px;
  color: black;
}

footer p {
  margin: 10px 0;
  color: black;
}

/* Hopefully this works. */
