/* Tag Selectors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

body {
  background-color: #d1e189;
}

a {
  color: white;
}

P {
  color: white;
}

/* Colors for the page Header. */
header {
  background-color: #d1e189;
  color: black;
  border-bottom: 2.5px;
}

header h1 {
  color: black;
}

header a {
  color: black;
}

/* Colors for Sections of the page. */
section {
  background-color: #303030;
  border: 5px solid #d1e189;
  border-bottom: 1.25px;
  border-radius: 25px;
}

/* Provides circular border for the profile picture. */
#moody-headshot {
  border: 5px solid #d1e189;
  border-radius: 50%;
}

/* Provides a border for class .card */
.card {
  border: 5px inset white;
}

#featured-app {
  color: black;
}

/* Provides a border for the featured web app's picture. */
#featuredapp-pic {
  border: 2.5px solid #262626;
}

/* Colors for the page's Footer. */
footer {
  background-color: #d1e189;
  border-top: 2.5px;
}

footer p {
  margin: 10px 0;
  color: black;
}

#moreApps {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#moreApps:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
