header {
    background-color: #704241;
    color: white;
    border: 2.5px solid #b2beb5;
}

header a {
    color: white;
}

section h2 {
    border-right: 5px solid black;
}

section.aboutme{
    background-color: #b2beb5;
    border: 2.5px solid #704241;
}

section.work {
    background-color: #b2beb5;
    border: 2.5px solid #704241;

}

#featured-app {
    color: black;
}

#featuredapp-pic {
    border: 2.5px solid #262626;
}

.card {
    border: 5px inset grey;
}

section.contactme {
    background-color: #b2beb5;
    border: 2.5px solid #704241;
}

section div#divider {
    background-color: black;
}
#moody-headshot {
    border: 5px inset black;
    border-radius: 50%;
}

footer {
    background-color: #704241;
    border: 2.5px solid #b2beb5;
}