/* Creates a smooth scrolling effect using nav to jump to different page sections.  */
html {
  scroll-behavior: smooth;
}
/* ANNIMATION FUN */

#animationContainer {
  display: block;
}

/* Found online at https://www.sliderrevolution.com/resources/css-text-animation/ */
@import url(https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@700&display=swap);
body {
  background: #262626;
}
.hidden {
  opacity: 0;
}
.console-container {
  font-family: "Overpass Mono", monospace;
  font-size: 3em;
  text-align: right;
  height: 85px;
  max-width: 80vw;
  display: block;
  color: white;
  margin: 10px 20px;
}
.console-underscore {
  display: inline-block;
}

/* MEDIA QUERIES -- for responsive sizing */

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    margin: 0 2.5px;
  }

  header {
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    text-align: center;
    padding: 10px 0;
  }

  header a {
    margin-top: 5px;
  }

  /* Responsive parameters for About Me section of the page. */
  .console-container {
    font-family: "Overpass Mono", monospace;
    font-size: 2em;
    text-align: right;
    height: 75px;
    max-width: 80vw;
    display: flex;
    color: white;
    margin: 10px 20px;
    overflow-y: hidden;
  }
  
  #aboutme-id {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }

  
  #aboutme-article {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    font-size: smaller;
    overflow-y: hidden;
  }
  
  #moody-headshot {
    max-width: 75vw;
    height: auto;
    margin: 10px 10px 10px 15px;
  }

  /* Responsive parameters for Work section of the page. */

  /* Class selectors for Work section of the page. */
  .card {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 85vw;
    justify-content: center;
  }

  /* Hides h3 to make room for an h5. */
  .card a h3 {
    display: none;
  }

  /* Displays h5 where the former h3 was. */
  .card a h5 {
    display: block;
    margin: 5px 5px;
  }

  #featured-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Hides original h2 to make room for the mobile h2. */
  #featured-app h2 {
    display: none;
  }

  #h2-work {
    display: none;
  }

  /* Tells the mobile h2 to display on the page. */
  #h2-work-mobile {
    display: block;
  }

  /* Resizes featured web app to be the same as the other apps when in mobile view. */
  #featuredapp-pic {
    width: 350px;
    height: auto;
  }

  #other-app {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* Responsive parameters for Contact Me section of the page. */
  .contactme h4 {
    font-size: smaller;
  }
}
