/* UNIVERSAL */
* {
  overflow-x: hidden;
}

/* TAGS */
body {
  margin: auto;
  width: 100vw;
}

p {
  margin: 10px 10px;
  max-width: 45vw;
  text-align: justify;
}

/* Header Positioning */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 5px 0;
}

header h1 {
  margin: 0 20px;
}

header nav a {
  display: inline;
  margin: 10px 10px;
}

/* SECTIONS */

/* Provides styling for all sections. */
section {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

section h2 {
  padding: 10px;
  margin: 5px 10px;
  height: auto;
  align-self: stretch;
  text-align: center;
}

/* Styles the About Me section of the page. */

#aboutme-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutmeText {
  display: flex;
}

#work-article {
  padding: 20px 0;
}

#moody-headshot {
  width: 500px;
  max-width: 50vw;
  height: auto;
  margin: 10px 10px 10px 15px;
  
}

/* Styles the Work section of the page. */
section#work-id {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Hides the h2 for mobile viewing. Referenced in "./other.css" for media query.  */
#h2-work-mobile {
  display: none;
}

/* Class selectors for Work section. */
.card {
  display: flex;
  align-items: center;
  margin: 10px 10px;
  text-align: center;
}

.card a h3 {
  margin: 15px 15px;
}

/* Hides the h5 for mobile viewing. Referenced in "./other.css" for media query. */
.card a h5 {
  display: none;
}

/* Styles the featured web application. */
#featured-app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#featuredapp-pic {
  height: auto;
  width: 1000px;
  margin: 5px 10px;
  max-width: 65vw;
}

/* Styles the other web applications. */
#other-app {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.other-app-pic {
  height: auto;
  width: 350px;
  max-width: 85vw;
  margin: 5px 10px;
}

/* Styles the Contact Me section of the page. */
.contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.contactme a {
  margin: 7px 7px;
}

#contactme-id {
  justify-content: center;
}

#contactOptions {
  display: flex;
  flex-direction: row;
}

/* Styles the footer of the page. */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}
