body {
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header nav a {
    display: inline;
    margin: 10px 10px;
}

section {
    display: flex;
    align-items: center;
}

section h2 {
    padding: 10px;
    height: auto;
    align-self: stretch;
}

#moody-headshot {
    max-width: 20vw;
    margin: 10px 10px 10px 15px;
}

section div.card {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

section div.card h3 {
    margin: 0 15px;
}

section.contactme a{
    margin: 10px 10px;
}