#featured-app a{
    text-decoration: none;
}

a {
    text-decoration: none;
}

header {
    font-family: 'ABeeZee', sans-serif;
}

header a {
    text-decoration: none;
}

section {
    font-family: 'ABeeZee', sans-serif;
}